{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h2>Daily Sales</h2>
        <div class="list-group">
            {%for tran in trans %}
            <div class="row mb-1 mt-1">

                    <h3 class="col-sm-2 list-group-item">{{tran.tran_date.strftime('%Y-%m-%d')}}</h3>
                    <h3 class="col-sm-2 list-group-item">{{tran.sales}}</h3>
                    <h3 class="col-sm-2 list-group-item">{{tran.traffic}}</h3>
                    <h3 class="col-sm-2 list-group-item">{{tran.pieces}}</h3>


            </div>
            {% endfor %}
            {% for tran in trans %}

            {% endfor %}
             <h3 class="col-sm-2 list-group-item">{{trans|sum(attribute='sales' )}}</h3>
        </div>
        <button class="btn btn-secondary" type="button">
            <a style="color:white" href="/store_index">Back</a>
        </button>
    </div>
{% endblock %}